.heading {
    color: var(--orange);
    background-color: var(--blue);
    padding: 10px;
    text-decoration: underline rgb(184, 183, 183);
}
.heading:hover{
    color: aliceblue;
    background-color: var(--blue);
}

.fontSize-20 {
    font-size: 20px;
}

.logo {
    color: var(--orange);
}

.header {
    padding: 20px;
}
.header:hover{
    color: var(--white);
    background-color: var(--blue);
}
.head {
    font-weight: bold !important;
    text-transform: uppercase;
    margin-bottom: 10px;
    font-size: 25px;
    color: var(--orange) !important;
    text-shadow: 2px 2px 10px rgb(233, 144, 10) !important;
}